// Variavies
$color-white: #ffffff;
$color-green: #29abe1;
$color-marrom: #a4a4a4;
$color-black: #000000;

//Variaveis Midea Query
$media-mobile-s: 320px;
$media-mobile-m: 375px;
$media-mobile-l: 425px;
$media-tablet: 768px;
$media-desktop: 1024px;

//Mixins de fontes
@mixin font-title{
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
}
@mixin font-subtitle{
    font-family: 'Ruda', sans-serif;
    font-weight: 500;
}
@mixin font-paragrafo{
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}



