/* habilidades.css */
.habilidades {
  background-color: #ffffff;
  padding: 100px;
  margin: 40px auto;
}

.habilidades h2 {
  font-size: 1.8rem;
  text-align: center;
  margin: 10px 0px 50px;
  color: #000000;
  font-weight: bold;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 10px;
}

.tech-item {
  display: grid;
  justify-content: center;
  align-items: center;
}

.tech-item img {
  max-width: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-item img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tech-item p {
  margin-top: 15px;
  font-size: 12px;
  color: #333;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 768px) {
  .habilidades {
      padding: 50px;
      margin: 20px auto;
  }

  .tech-grid {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .tech-item img {
      max-width: 40px;
  }

  .tech-item p {
      font-size: 11px;
  }
}

@media (max-width: 480px) {
  .habilidades {
      padding: 30px;
      margin: 10px auto;
  }

  .tech-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  }

  .tech-item img {
      max-width: 35px;
  }

  .tech-item p {
      font-size: 10px;
  }
}
