/* intro.css */
.webview .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(circle at 112.35% 50%, #b643ea 0, #9832e0 25%, #741dd4 50%, #4907c8 75%, #0000bf 100%);
  color: #fff;
}

.webview .intro .container {
  text-align: center;
}
.topo-image {
  width: 30%;
  height: auto;
}

.webview .intro .container h1 {
  font-size: 2rem;
  margin-top: 20px;
}

.webview .intro .container p {
  font-size: 1rem;
  margin-top: 20px;
}

.webview .intro .container .btn-portfolio {
  background-color: #fff;
  color: #000000;
  border: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.webview .intro .container .btn-portfolio:hover {
  background-color: #219d74;
  color: #ffffff;
}
