.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(
    circle at 112.35% 50%,
    #b643ea 0,
    #9832e0 25%,
    #741dd4 50%,
    #4907c8 75%,
    #0000bf 100%
  );
  color: #fff;
  text-align: center;
}

.topo-image {
  width: 30%;
  height: auto;
}

.intro-title {
  font-size: 2rem;
  margin-top: 20px;
}

.intro-text {
  font-size: 1rem;
  margin-top: 20px;
}

.btn-portfolio {
  background-color: #fff;
  color: #000000;
  border: none;
  font-size: 0.9rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.btn-portfolio:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
 