.habilidades-flutuantes {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 20px;
  justify-items: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-top: 50px;
}

.icone-flutuante {
  width: 50px;
  height: 50px;
  pointer-events: none;
  animation: floatAnimation 3s ease-in-out infinite;
  filter: none; 
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(
    circle at 112.35% 50%,
    #b643ea 0,
    #9832e0 2%,
    #741dd4 50%,
    #4907c8 75%,
    #0000bf 100%
  );
  color: #fff;
  text-align: center;
  position: relative;
}

.topo-image {
  width: 30%;
  height: auto;
}

.intro-title {
  font-size: 2rem;
  margin-top: 20px;
}

.intro-text {
  font-size: 1rem;
  margin-top: 20px;
}

.btn-portfolio {
  background-color: #fff;
  color: #000000;
  border: none;
  font-size: 0.9rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.btn-portfolio:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
p{
  font-size: 1rem;
  margin-top: 10px;
  color: #000;
}

@media (max-width: 768px) {
  .habilidades-flutuantes {
    width: 80%;
    height: auto;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .icone-flutuante {
    width: 40px;
    height: 40px;
  }

  .intro {
    padding: 20px;
  }

  .topo-image {
    width: 60%;
  }

  .intro-title {
    font-size: 1.5rem;
  }

  .intro-text {
    font-size: 0.9rem;
  }

  .btn-portfolio {
    font-size: 0.8rem;
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .habilidades-flutuantes {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .icone-flutuante {
    width: 35px;
    height: 35px;
  }

  .topo-image {
    width: 80%;
  }
}
