footer {
  text-align: center;
  padding: 20px 0; /* Aumentei um pouco o padding para mais espaço */
  background-color: #f4f4f4;
  color: #000000;
  font-size: 1rem; /* Aumentei o tamanho da fonte para ser mais legível */
  font-weight: bold;
  margin-top: 50px; /* Distância do conteúdo acima */
  margin-bottom: 20px; /* Ajustei a margem inferior para não ficar com muito espaço */
}

/* Ajuste para garantir que o footer não fique muito pequeno em telas pequenas */
@media (max-width: 480px) {
  footer {
    font-size: 0.8rem; /* Diminui um pouco a fonte em telas pequenas */
    padding: 15px 0; /* Ajusta o padding em dispositivos pequenos */
  }
}
