.section-title {
  font-size: 1.8rem;
  margin: 20px 50px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.project-card {
  width: 90%;
  height: auto;
  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 80px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}
.projeto img {
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 420px;
  max-width: 100%;
  border-radius: 8px;
}

.project-description {
  width: 100%;
}

.project-description h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 5px;
}

.project-description p {
  color: #666;
  line-height: 1.5;
}

.view-more {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.view-more:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }

  .project-image {
    width: 80%;
    max-width: 250px;
  }
}
@media (max-width: 480px) {
  .project-card {
    padding: 20px;
    gap: 10px;
  }

  .project-image {
    width: 100%;
    max-width: 200px;
  }

  .project-description h3 {
    font-size: 1.3rem;
  }

  .project-description p {
    font-size: 0.9rem;
  }
}
