/* global.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: auto;
  padding: 0;
  height: 100%;
  font-family: "Ruda", Arial, sans-serif;
  /* background-image: radial-gradient(circle at 112.35% 50%, #b643ea 0, #9832e0 25%, #741dd4 50%, #4907c8 75%, #0000bf 100%); */
    background-color: #f2f2f2;
  font-size: 18px;
  color: #333;
}

